$accent: #1b5e20;
$secondary: #217528;
$terciary: #ffab00;
$disabled: #949494;
$text-color: #333;
$border-color-secondary: #919191;

@mixin card($elevation: 1) {
  box-shadow: 0 (1px * $elevation) (2px * $elevation) 0.5px #00000017,
    0 (1px * $elevation) (2px * $elevation) 0.5px #00000017;
}

//input
@mixin input {
  display: flex;
  flex-flow: column;
  padding: 6px;
  max-width: 250px;
  margin-right: 30px;

  fieldset {
    margin: 0px;
    border: 2px solid $disabled;
    border-radius: 4px;
    height: auto;
    width: 200px;
    padding: 5px 10px;
    box-sizing: border-box;

    legend {
      color: $disabled;
      width: auto;
      margin-left: 5px;
      border: 2px solid transparent;
      font-size: 0.8em;
      text-align: left;
    }

    input,
    textarea {
      width: 250px;
      max-width: auto;
      padding: 0;
      font-size: 1em;
      outline: none;
      border: none;
    }

    textarea {
      resize: none;
      height: 50px;
      width: 250px;
      max-width: auto;
      padding: 0;
      font-size: 1em;
      outline: none;
      border: none;
    }
  }
}
