@import "../styles/light_theme";

.custombutton-container {
  @include card(1);
  width: 100px;
  background-color: $accent;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  outline: none;
  font-size: 1em;
  align-self: flex-end;

  &:hover {
    cursor: pointer;
  }
}
