@import "../styles/light_theme";

.detailedInfo-container {
  @include card(1);
  width: auto;
  padding: 10px;
  border-radius: 3px;
  margin: 20px 10px 10px 10px;
  height: 300px;
  display: flex;
  align-items: center;

  .form {
    display: flex;
    height: auto;
    width: 600px;
    flex-wrap: wrap;

    .input {
      @include input();
      fieldset {
        border: 2px solid $accent;

        legend {
          color: $accent;
        }
      }
    }
  }
}
