@import "../styles/light_theme";

.detailedInfo-container {
  @include card(1);
  width: auto;
  flex-flow: column;
  padding: 20px 30px;
  border-radius: 3px;
  margin: 20px 10px 10px 10px;
  height: auto;
  display: flex;
  align-items: center;
  box-sizing: border-box;

  p {
    text-align: left;
    color: $accent;
    font-weight: bold;
    margin: 0px 10px 20px 30px;
    font-size: 1.2em;
  }

  .form {
    display: flex;
    height: 100%;
    width: auto;
    height: auto;
    flex-wrap: wrap;

    .input {
      @include input();
      fieldset {
        border: 2px solid $quaternary;

        legend {
          color: $quaternary;
        }
      }

      // input[type="file"] {
      // }
    }
  }
}
