@import "../styles/light_theme";

.footer {
  width: 100%;
  height: auto;
  background-color: $secondary;
  margin-top: 50px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  a {
    color: #6e8dc7;
    font-style: none;
    text-decoration: none;
    transition: 0.2s color ease-in-out;

    &:hover {
      color: #b0cbfc;
    }
  }

  p {
    color: #eb5d24;
    font-weight: 100;
    font-size: 1.2em;
  }

  .footer-links {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    box-sizing: border-box;
    font-size: 0.9em;

    .linkSet {
      display: flex;
      margin: 10px 0px;

      a {
        margin: 5px 0px;
        color: #ffffffbd;
        font-size: 1em;

        &:hover {
          color: #fff;
        }
      }
    }
  }

  .bottom {
    @include card(2);
    display: flex;
    align-content: center;
    justify-content: flex-end;
    background-color: $accent;
    padding: 10px;
    width: auto;

    p {
      width: auto;
      margin: 0;
      font-size: 0.7em;
      color: #ffffff;
      span {
        color: #ffffff;
      }
    }
  }
}
