@import "../styles/light_theme";

@mixin navbar {
  position: fixed;
  @include card(3);
  top: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column;
  background-color: $accent;

  .navbar-top {
    @include card(2);
    background-color: $secondary;
    display: flex;
    width: 100%;
    padding: 10px 0px;

    img {
      background-color: #fff;
      border-radius: 50%;
      height: 35px;
      width: auto;
      margin: auto 10px;
      border: 3px solid #fff;
    }

    .hamburger {
      display: flex;
      flex-flow: column;
      margin: auto 0px auto 10px;
      width: auto;
      padding: 10px;

      &:hover {
        cursor: pointer;
      }

      div {
        width: 20px;
        height: 3px;
        background-color: #fff;
        margin: 1.5px 0;
        border-radius: 2px;
      }
    }

    p {
      font-size: 1.3em;
      width: auto;
      color: #fff;
      align-self: center;
      font-weight: 400;
      margin: 0px auto 0px 20px;
    }
  }

  .navbar-tabs {
    @include card(1);
    display: flex;
    padding: 0 5px;
    height: auto;
    width: auto;
    justify-content: space-between;

    ul {
      width: auto;
      display: flex;
      list-style: none;
      text-decoration: none;
      color: #ffffffbd;
      padding: 0 5px;
      align-self: flex-end;
      align-items: center;
      height: 100%;

      li {
        box-sizing: border-box;
        display: flex;
        border-bottom: 5px solid $accent;
        height: 100%;
        transition: 0.1s border-color ease-in;
        width: 150px;
        padding: 5px;

        p {
          align-self: flex-end;
          padding-bottom: 5px;
        }

        &:hover {
          color: #ffffff;
          border-bottom: 5px solid #fff;
        }
      }
    }

    .searchbox {
      display: flex;
      align-items: center;
      align-self: center;
      width: auto;
      padding: 5px;

      .search-icon {
        background-color: #ffffff2c;
        height: 30px;
        width: 40px;
        border-radius: 4px 0 0 4px;
        display: flex;
        align-items: center;

        i {
          width: 50px;
          color: #fff;
          text-align: center;
        }
      }

      input {
        color: #fff;
        font-size: 1em;
        width: 200px;
        border-radius: 0 4px 4px 0;
        outline: none;
        background-color: #ffffff2c;
        border: none;
        margin: 5px 0;
        padding: 0px 10px;
        height: 30px;

        &::placeholder {
          color: #ffffff9a;
        }
      }
    }
  }
}

@keyframes shrink {
  from {
    top: 0;
  }

  to {
    top: -61px;
  }
}

@keyframes grow {
  from {
    top: -61px;
  }

  to {
    top: 0;
  }
}

.navbar-container-hidden {
  @include navbar();
  animation: shrink 0.1s ease-in-out forwards;
}

.navbar-container {
  @include navbar();
  animation: grow 0.1s ease-in-out forwards;
}

// @media only screen and (max-width: 600px) {
//   .navbar-container {
//     top: 0;
//     animation: none;

//     .navbar-top {
//       img {
//       }

//       .hamburger {
//         &:hover {
//         }

//         div {
//         }
//       }

//       p {
//       }
//     }

//     .navbar-tabs {
//       @include card(1);
//       justify-content: space-evenly;
//       padding: 0;
//       flex-flow: column;
//       display: none;

//       ul {
//         padding: 0;
//         flex-flow: column;
//         color: #fff;
//         width: 100%;
//         li {
//           padding: 0;
//           margin: 0;
//           border: none;
//           width: 100%;
//           height: 50px;

//           p {
//             align-self: center;
//             font-size: 0.9em;
//           }

//           &:hover {
//             border: none;
//             background-color: $secondary;
//           }
//         }
//       }

//       .searchbox {
//         box-sizing: border-box;
//         padding: 10px;
//         width: 100%;
//         input {
//           width: 100%;
//         }
//       }
//     }
//   }

//   .navbar-container-hidden {
//     top: 0;
//     animation: none;
//   }
// }
