@import "../styles/theme";

.navbar-container {
  @include card(3);
  width: auto;
  border-radius: 0px;
  height: auto;
  display: flex;
  flex-flow: column;
  background-color: $accent;

  .navbar-top {
    display: flex;
    width: 100%;
    padding-bottom: 5px;

    img {
      background-color: #fff;
      border-radius: 50%;
      height: 45px;
      width: auto;
      margin: 10px;
      border: 3px solid #fff;
    }

    .hamburger {
      display: flex;
      flex-flow: column;
      margin: auto 0px;
      width: auto;
      padding: 10px;

      &:hover {
        cursor: pointer;
      }

      div {
        width: 20px;
        height: 3px;
        background-color: #fff;
        margin: 1.5px 0;
        border-radius: 2px;
      }
    }

    h1 {
      width: auto;
      color: #fff;
      align-self: center;
      font-weight: 500;
      margin-right: auto;
    }
  }

  .navbar-tabs {
    ul {
      display: flex;
      list-style: none;
      text-decoration: none;
      color: #fff;
      padding: 0 5px;
      align-self: flex-end;
      align-items: center;
      height: 100%;

      li {
        box-sizing: border-box;
        display: flex;
        border-bottom: 5px solid $accent;
        height: 100%;
        transition: 0.1s border-color ease-in;
        width: 150px;
        padding-bottom: 10px;

        p {
          align-self: flex-end;
        }

        &:hover {
          border-bottom: 5px solid #fff;
        }
      }
    }
  }
}
