@import "../styles/light_theme";

.oportunidadentry-container {
  margin: 10px;
  @include card(1);
  width: auto;
  height: auto;
  padding: 10px;
  align-items: center;
  display: flex;
  border-radius: 4px;

  img {
    width: auto;
    height: 70px;
    margin: 10px;
  }

  .oportunidad-info {
    display: flex;
    flex-flow: column;

    > .header {
      color: #333;
      font-weight: bold;
      text-align: left;
      margin: 20px 0px 10px 20px;
      font-size: 1.2em;
    }

    .oportunidad-details {
      display: flex;
      margin: 10px 0px 0px 20px;

      .oportunidad-detail {
        margin: 0px 10px 0px 0px;
        .header {
          font-size: 0.9em;
          color: $accent;
          font-weight: bold;
          margin-bottom: 10px;
          text-align: left;
        }

        .description {
          text-align: left;
          font-size: 0.8em;
        }
      }
    }

    button {
      margin: 0px 0px 0px auto;
    }
  }
}
