@import "../styles/light_theme";

@mixin input {
  display: flex;
  flex-flow: column;
  padding: 10px;
  width: 200px;

  fieldset {
    margin: 10px 0px;
    border: 2px solid $disabled;
    border-radius: 4px;
    height: auto;
    padding: 5px 10px;
    box-sizing: border-box;

    legend {
      color: $disabled;
      width: auto;
      margin-left: 5px;
      border: 5px solid transparent;
      font-size: 0.8em;
      text-align: left;
    }

    input {
      padding: 0;
      font-size: 1em;
      outline: none;
      border: none;
    }
  }
}

.perfilusuario-container {
  @include card(1);
  width: auto;
  padding: 10px;
  border-radius: 3px;
  margin: 130px 10px 10px 10px;
  height: 300px;
  display: flex;
  align-items: center;

  .profile {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: auto;
    margin-left: 50px;

    .cambiar-perfil {
      @include card(2);
      display: flex;
      align-items: center;
      background-color: $terciary;
      width: auto;
      padding: 10px;
      border-radius: 50%;
      height: auto;
      margin: -50px -120px 0 0;

      i {
        color: #fff;
      }
    }

    .fecha-creacion {
      @include card(1);

      display: flex;
      align-items: center;
      background-color: $accent;
      width: 100px;
      padding: 5px 0;
      border-radius: 5px;
      height: auto;
      margin-top: 20px;

      p {
        font-size: 0.7em;
        text-align: center;
        color: #fff;
      }
    }
  }

  .form {
    margin: 0px 10px 0px 100px;

    .input-enabled {
      @include input();
      fieldset {
        border: 2px solid $accent;

        legend {
          color: $accent;
        }
      }
    }

    .input-disabled {
      @include input();
      fieldset {
        border: 2px solid $disabled;

        legend {
          color: $disabled;
        }
      }
    }
  }

  img {
    // border: $accent 3px solid;
    width: 150px;
    height: auto;
    border-radius: 50%;
  }

  .info-usuario {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
}
