@import "../styles/light_theme";

.publicinfo-container {
  display: flex;
  flex-flow: column;
  margin: 10px 0px 10px 50px;
  width: auto;
  align-self: flex-start;

  p {
    text-align: left;
    color: $accent;
    font-weight: bold;
    margin: 0px 10px 50px 10px;
    font-size: 1.2em;
  }

  .form {
    display: flex;
    height: auto;
    width: auto;
    flex-wrap: wrap;

    .input {
      @include input();
      fieldset {
        border: 2px solid $accent;

        legend {
          color: $accent;
        }
      }
    }
  }
}
