@import "../styles/light_theme";

.tips-container {
  @include card(2);
  display: flex;
  flex-flow: column;
  background-color: $tips-bg;
  border-radius: 4px;
  border: $tips-border 2px solid;
  max-width: 250px;
  height: 100%;
  margin: 10px;
  padding: 10px 15px;

  .heading {
    text-align: left;
    color: $tips-color;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 20px;
  }

  .text {
    font-size: 0.9em;
    margin-bottom: 20px;
    text-align: left;
  }

  button {
    color: #fff;
    background-color: $tips-btn;
    font-size: 0.8em;
  }
}
